.App {
  text-align: center;
  background-color: #E7E7E7;
  height: 100vh;
  padding: 20px;
}

.App__nameSubmission {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 15px;
  grid-gap: 5px;
}

.App__waitingPlayer {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  border: 1px solid #202B59;
  padding: 5px;
  border-radius: 4px;
}

.App__playerWaitingSpace {
  margin: 0 auto;
  width: 200px;
}

h1 {
  margin: 0;
}
